*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

::selection {
    background-color: #ff9800;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.equipments{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn, .equipament, .quantity{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
}

.equipament{
    border-radius: 0.5rem;
}

.quantity{
    border-radius: 0.5rem;
    width: 5rem;
}

.btn{
    border-radius: 100%;
    background-color: #060606;
    color: #ff9800;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    transform: scale(1.1);
    color: #0c0c0c;
    background-color: #ff9800;
}

.equipament-list li{
    margin-top: 2rem;
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}