* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BatmanForever', sans-serif;
}

@font-face {
    font-family: 'BatmanForever';
    src: url('../fonts/batman_forever/batmfa__.ttf') format('truetype');
}

body{
    background-color: #000000;
    color: white;
}


/* Estilização do Cabeçalho */
header {
    background-color: #060606;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
}

/* Layout Principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh - 80px); /* 100vh menos a altura do header */
    padding: 20px;
}

/* Estilização dos Cards */
.card {
    background-color: #060606;
    border-radius: 100%;
    border: solid #ff9800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    min-width: 200px;
    width: 300px;
    min-height: 200px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out; 
}

.card h2 {
    margin-top: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #060606;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.nav-list a:hover {
    color: #ff9800;
}

/* Menu Mobile */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background: white;
    height: 4px;
    width: 30px;
    margin: 5px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .card {
        max-width: 150px;
        max-height: 150px;
        padding: 0.8rem;
        border-radius: 100px;
        font-size: 12px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
        width: 100%;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        padding: 15px 0;
    }
}
