<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Indústrias Wayne</title>
    <link rel="icon" href="/view/login/batman-icon.png">
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <header>
        <h1>Dashboard - Indústrias Wayne</h1>
        <nav class="navbar">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="/view/in-recources/vehicles/vehicle.html">vehicle</a></li>
                <li><a href="/view/in-recources/s-devices/sdevices.html">Security Devices</a></li>
                <li><a href="/view/in-recources/e-inventory/einventory.html">Equipament Inventory</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="card" title="Clique para mais detalhes">
            <div class="front">
                <h2>Segurança</h2>
                <p id="security-data">Carregando...</p>
            </div>
            <div class="back">
                <h2>Mais Detalhes</h2>
                <p>As Indústrias Wayne garantem a segurança de Gotham com uma taxa de sucesso de 97%, utilizando tecnologia de ponta e estratégias inovadoras.</p>
            </div>
        </section>
        
        <section class="card" title="Clique para mais detalhes">
            <div class="front">
                <h2>Recursos</h2>
                <p id="resources-data">Carregando...</p>
            </div>
            <div class="back">
                <h2>Mais Detalhes</h2>
                <p>As Indústrias Wayne possuem um estoque robusto de recursos, incluindo materiais de alta tecnologia, veículos avançados e dispositivos de segurança de última geração.</p>
            </div>
        </section>
        
        <section class="card" title="Clique para mais detalhes">
            <div class="front">
                <h2>Atividades</h2>
                <p id="activities-data">Carregando...</p>
            </div>
            <div class="back">
                <h2>Mais Detalhes</h2>
                <p>As Indústrias Wayne estão desenvolvendo novas tecnologias de segurança, expandindo operações de manufatura e implementando iniciativas de sustentabilidade.</p>
            </div>
        </section>
    </main>
    
    <script src="/controller/dashboard.js"></script>
</body>
</html>