<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Indústrias Wayne</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <header>
        <h1>Dashboard - Indústrias Wayne</h1>
        <nav class="navbar">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="dashboard.html" id="start">Start</a></li>
                <li><a href="/view/in-resources/vehicles/veichels.html">Veichels</a></li>
                <li><a href="/view/in-resources/s-devices/sdevices.html">Security Devices</a></li>
                <li><a href="/view/in-resources/e-inventory/einventory.html">Equipament Inventory</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="card">
            <h2>Segurança</h2>
            <p id="security-data">Carregando...</p>
        </section>
        <section class="card">
            <h2>Recursos</h2>
            <p id="resources-data">Carregando...</p>
        </section>
        <section class="card">
            <h2>Atividades</h2>
            <p id="activities-data">Carregando...</p>
        </section>
    </main>
    <script src="/controller/dashboard.js"></script>
</body>
</html>