<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Security Wayne </title>

    <!-- Importing css -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!-- Making login-screen -->
    <div class="login-screen"></div>
        <h2>Login</h2>
        <form>
            <label for="user">Username:</label>
            <input type="text" id="user" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" required>
            <br>
            <button type="submit" id="btn" >Login</button>
        </form>
    </div>

    <!-- Importing js -->
    <script src="../controller/user.js"></script>
</body>
</html>